
.app-main {
  padding: 1px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: -10px;
  padding-top: 35px;
}

.header-logo {
  height: auto;
}
/* Center section with shop name and description */

.center-section {
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-self: left;
  align-items: flex-end;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-self: right;
  align-items: flex-start;
}

.section {
  border-bottom: 1px solid #000;
  padding: 20px;
  box-sizing: border-box;
  margin: -1px;
  border-radius: 0;

}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

/* Adjust link styles as needed */
.link {
  text-decoration: none;
  color: #000;
}

/* Adjust hover styles for links if needed */
.link:hover {
  color: #333;
}

.page {
  padding: 5%;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: grid;
  justify-content: center;
  max-height: 5%;
  overflow: hidden;
  margin-top: -120px;
  margin-bottom: -80px;
}

.footer-logo {
  height: auto;
  clip-path: inset(30% 0 30% 0);
}

.footer-socials {
  display: flex;
  justify-content: space-around;
}

.react-photo-album {
  border: var(--gray-md);
  border-style: solid;
  padding: 5px;
}

.bold-photo {
  border: var(--gray-md);
  border-style: solid;
  padding: 5px;
}