.app-main {
  padding: 1px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: -10px;
  padding-top: 35px;
}

.header-logo {
  height: auto;
}

/* Center section with shop name and description */

.center-section {
  width: 50%;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.left-section {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-self: left;
  align-items: flex-end;
}

.right-section {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.section {
  padding: 20px;
  box-sizing: border-box;
  margin: -1px;
  border-radius: 0;
  background-position: bottom;
  background-image: linear-gradient(to right, rgba(0,0,0,0), #000, rgba(0,0,0,0));
  background-size: 100% 1px; 
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #333;
}

.divider-header {
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-center {
  justify-self: center;
}

.page {
  padding: 5%;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  align-items: center;
}

.near-footer {
  margin-bottom: 21%;
}

.footer-container {
  display: grid;
  justify-content: center;
  max-height: 5%;
  overflow: hidden;
  margin-top: -100px;
  margin-bottom: -80px;
  z-index: -1;
}

.footer-logo {
  height: auto;
  clip-path: inset(30% 0 30% 0);
}

.footer-socials {
  display: flex;
  justify-content: space-around;
}

.react-photo-album {
  border: var(--gray-md);
  border-style: solid;
  padding: 5px;
}

.bold-photo {
  border: var(--gray-md);
  border-style: solid;
  padding: 5px;
}
