
.page-header-text {
  font-family: 'Lovers Quarrel', cursive;
  color: var(--blue-dark);
  /* background-color: var(--blue-pale); */
}

p {
  font-family: 'Cardo', serif;
}

.cardo {
  font-family: 'Cardo', serif;
}

.serif {
  font-family: 'Baskervville', serif;
}

.cursive {
  font-family: 'Lovers Quarrel', cursive;
}

.link-text {
  font-family: 'Lovers Quarrel', cursive;
  color: var(--blue-dark);
}

button {
  color: var(--gray-light);
  background-color: var(--blue-dark);
}

.footer-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}