
.page-header-text {
  font-family: 'Tangerine', cursive;
  color: var(--blue-dark);
  /* background-color: var(--blue-pale); */
}

h1 {
  font-family: 'Tangerine', cursive;
}

/* 
.montserrat {
  font-family: 'Montserrat', serif;
}

.serif {
  font-family: 'Baskervville', serif;
}

.cursive {
  font-family: 'Tangerine', cursive;
} */

.link-text {
  color: var(--blue-dark);
}

button {
  color: var(--gray-light);
  background-color: var(--blue-dark);
}

.button-text {
  color: white;
}

.footer-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}