/* Global Variables */
:root {
  --teal: teal;
  --pink: rgb(255, 255, 255);
  --ivory: #fffff0;
  --oldWhite: antiquewhite;
  --black: rgb(1, 1, 7);

  /* logo color scheme */
  --blue-dark: #394F61;
  --blue: #506b82;
  --blue-pale: #809DB0;
  --gray-md: #D2D2D2;
  --gray-light: #F1F1F3;

  background-color: var(--ivory);
}
@import url('https://fonts.googleapis.com/css?family=Baskervville&family=Cardo&family=Lovers+Quarrel&display=swap');

body {
  margin: 0;
  font-family: 'Cardo', serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}