/* Global Variables */
:root {
  --teal: teal;
  --pink: rgb(255, 255, 255);
  --ivory: #fffff0;
  --oldWhite: antiquewhite;
  --black: rgb(1, 1, 7);
  background-color: var(--ivory);
}
@import url('https://fonts.googleapis.com/css?family=Cardo');

body {
  margin: 0;
  font-family: 'Cardo', serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}